<h1>Hello world</h1>

<% if @question == "I am going to work right now!" %>
  <p></p>
<% elsif @question[-1] == '?' %>
  <p>Silly question, get dressed and go to work!</p>
<% else %>
  <p>I don't care, get dressed and go to work!</p>
<% end %>
